#root {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #0D5D56;
}

.app {
  width: 100%;
}

.app h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #E5C2C0;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.controls > * {
  flex: 1;
  min-width: 250px;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .app h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .controls {
    flex-direction: column;
    gap: 16px;
  }

  .controls > * {
    width: 100%;
    min-width: unset;
  }
}
